[Desktop Entry]
Type=Application
Name=Germination        
Comment=A Generative Art Piece   
NoDisplay=false
Exec=/home/student334/processing-4.3/processing-java --sketch=/home/student334/cpsc334/module1-revised/germination --present
